.logo {
  text-align: center;
  font-size: 60px;
  color: red;
  background: white;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  margin-left: 45.5%;
  font-family: Poppins;
  font-weight: bold;
  
}
.headings {
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  position: relative;
  margin: auto;
  font-size: 36px;
  top: -200px;
}

.locationSelector {
  display: flex;
  height: 40px;
  width: 100%;
  margin-top: -10.5%;
}

.locationDropdown {
  display: flex;
  width: 15%;
  margin-left: 30%;
}
#Notebooks {
  margin-right: 10%;
  justify-content: space-around;
  margin-left: 5%;
}
/* #notebooks {
  position: absolute;
  left: 28%;
  width: 350px;
  border-radius: 5px;
  max-height: 450px;
} */
.restaurantsinput
{
  width: 170%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
} 
.quicksearchHeading {
  font-weight: bolder;
  font-size: 30px;
  color: #192f60;
  margin-left:40px ;
  margin-top: 5%;
}
.quicksearchSubHeading {

  color: gray;
  font-weight: 400;
  margin-left:40px ;
  margin-top: -20px;
  
}
.quickSearch__card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}

.titleContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.5);
  width: 90%;
}

.titleComponent1 {
  width: 40%;
  height: 100%;
}

.titleComponent2 {
  width: 55%;
}
.componentHeading{
  color: #192f60;
  font-weight: bolder;
}
.componentSubHeading{
  color: #6c757d;
  font-weight: 600;
}
#notebooks {
  float: left;
}

#notebooks ul {
  
  margin-top: 40px;
  list-style: none;
}

#notebooks ul li {
  border: 4px solid #000;
  padding: 5px 10px;
  background-color: #ffffff;
  border-top: none;
  text-align: left;
  cursor: pointer;
}

#notebooks ul li:hover {
  background-color: #ccc;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #ce0505;
  color: white;
}

.s-logo {
  text-align: center;
  font-size: 25px;
  color: #ce0505;
  background: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 1%;
  margin-left: 2%;
  font-family: Poppins;
  font-weight: bold;
}

.login-block {
  float: right;
  padding-right: 20px;
  padding-top: 10px;
}

.login {
  margin: 10px;
  font-weight: bold;
}

.signUp {
  font-weight: bold;
  border: solid 1px white;
  padding: 3px;
}

.tabs {
  position: relative;
  min-height: 200px;
  clear: both;
  margin: 50px 0 25px;
  background: white;
}

.tab {
  float: left;
}

.tab label {
  background: white;
  padding: 2px;
  border: 1px solid white;
  margin-left: -1px;
  position: relative;
  left: 1px;
  top: -29px;
  margin-right: 5px;
}

.tab [type=radio] {
  display: none;
}

.content {
  position: absolute;
  top: -1px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border-top: 1px solid gray;
  opacity: 0;
}

[type=radio]:checked~label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
  border-bottom: solid 4px red;
}

[type=radio]:checked~label~.content {
  z-index: 1;
  opacity: 1;
}

.gallery-button {
  position: absolute;
  left: 83%;
  top: 75%;
  width: 200px;
  height: 35px;
  opacity: 0.6;
  border-radius: 3px;
  background-color: #ffffff;
}

.heading {
  width: 298px;
  height: 43px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}

.about {
  width: 181px;
  height: 31px;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}

.head {
  height: 25px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}

.value {
  height: 30px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}

.heading-filter {
  height: 51px;
  font-family: Poppins;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
  margin: 20px 0px 15px 90px;
}

.noData {
  color: red;
  font-size: 25px;
  font-family: cursive;
  text-align: center;
}

.filtercontainer {
  height: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.filter-options {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding-left: 30px;
  margin-bottom: 10px;
  padding-bottom: 3%;
  margin-left: 75px;
  width: 80%;
}

.filter-heading {
  height: 25px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
  padding-top: 20px;
}

.Select-Location {
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
  margin-top: 30px;
}

.Rectangle-2236 {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: solid 1px #8c96ab;
  margin-top: 10px;
}

.Cuisine {
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
  margin-top: 12px;
}

.checkbox-items {
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #8c96ab;
  margin-left: 5px;
}

.Item {
  width: 80%;
  height: 220px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-bottom: 15px;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 35px;
  margin-left: 25%;
}

.rest-name {
  height: 43px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}

.toggle-span {
  float: right;
  padding: 5px 0px 5px 0px;
  display: none;
}

.res-location {
  height: 23px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}

.rest-address {
  height: 23px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #636f88;
}

.Bakery-700 {
  height: 40px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}

.padding-left {
  padding-left: 60px;
}

.custom-button {
  color: black;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 0 0 0 white;
}

.pagination {
  display: inline-block;
  margin-left: 550px;
  margin-top: -2.5%;
}

.pagination a {
  color: gray;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: solid 1px gray;
  border-radius: 15px;
  margin: 3px;
}

.scroll {
  float: left;
  width: 1000px;
  overflow-y: auto;
  height: 480px;
}
.btn {
  margin-right: 7%;
}

@media only screen and (max-width: 600px) {
  .heading-filter {
      height: 51px;
      font-family: Poppins;
      font-size: 36px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.53;
      letter-spacing: normal;
      text-align: left;
      color: #192f60;
      margin: 5px 0px 10px 25px;
  }
  .Item {
      width: 100%;
      min-width: 350px;
      height: 290px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      margin-bottom: 15px;
      margin-left: 15px;
  }
  .padding-left {
      padding-left: 3px;
  }
  .filter-options {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      padding-left: 30px;
      margin-bottom: 10px;
      width: 300px;
      margin-left: 15px;
      min-height: 25px;
  }
  .rest-name {
      height: 43px;
      font-family: Poppins;
      font-size: 30px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.53;
      letter-spacing: normal;
      text-align: left;
      color: #192f60;
      margin-left: 20px;
  }
  .res-location {
      height: 23px;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      text-align: left;
      color: #192f60;
      margin-left: 20px;
  }
  .rest-address {
      height: 23px;
      font-family: Poppins;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      text-align: left;
      color: #636f88;
      margin-left: 20px;
  }
  .toggle-span {
      float: right;
      padding: 5px 10px 0px 0px;
      display: initial;
  }
  .pagination {
      display: inline-block;
      margin-left: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .gallery-button {
    position: absolute;
    left: 55%;
    top: 85%;
    width: 200px;
    height: 35px;
    opacity: 0.6;
    border-radius: 3px;
    background-color: #ffffff;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
